@import "tailwindcss";

.input {
  /* stylelint-disable-next-line */
  @apply
    bg-zinc-800
    border border-zinc-700
    rounded-md
    px-3 py-2
    text-sm
    text-zinc-100
    placeholder:text-zinc-500
    focus:outline-none
    focus:ring-2 focus:ring-emerald-600/50
    transition;
}
